name: remote ssh command
on: [push]

jobs:
  default:
    name: checkout
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v1

    - name: docker shit
      uses: ./
      with:
        host: 103.175.219.128
        username: aimingds
        password: ${{ secrets.SSHPASS }}
        key: ${{ secrets.PRIVKEY }}
        port: 22
        script: |
        cd ~/
        docker compose down
        docker compose build
        docker compose up -d
